
$color-primary: #fff;
$color-secondary: #000;
$color-bg: #1D1D1D;
$color-green-global: #677852;
$color-accent: #d9473f;

$color-neutral-1: #F0F2EE;
$color-neutral-2: #D1D7CB;
$color-neutral-3: #C2C9BA;
$color-neutral-4: hsl(88, 12%, 70%);

$color-green-dark: #5D6C4A;
$color-green-darker: #526042;
$color-green-darkest: #485439;

$section-padding-inline: 12rem;
$section-padding-block: 9.6rem;

$section-padding-inline-md: 9.6rem;
$section-padding-block-md: 5.6rem;

$section-padding-inline-sm: 4.8rem;
$section-padding-block-sm: 4.8rem;

$section-padding-inline-xs: 2.4rem;
$section-padding-block-xs: 3.2rem;
